.brands {
    padding: 4rem 0 6rem;
  
    &-mobile {
      display: none;
      
      @media (max-width: 360px) {
        order: -2;
        display: block;
      }
    }
  
    @media (max-width: 710px) {
      padding: 2.4rem 0 4rem;
    }
  
    &__inner {
      position: relative;
    }
  
    &__slider {
      overflow: hidden;
    }
  
    &__item {
      max-width: 24.3rem;
  
  
      @media (max-width: 710px) {
        max-width: 15.8rem;
      }
    }
  
    &__link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 12rem;
  
      border-radius: 6rem;
      background-image: linear-gradient(212.35deg, #F0F1F5 7.66%, #FFFFFF 75.91%, #FFFFFF 80%, #F0F1F5 100%);
      background-size: 250%;
      background-position: 43rem;
  
      transition: background-position .3s;
  
      &:hover {
        opacity: 1;
        background-position: 30rem;
      }
  
      @media (max-width: 710px) {
        height: 7.8rem;
  
        background-position: 70rem;
  
        &:hover {
          background-position: 58rem;
        }
      }
    }
  
    &__img {
      @media (max-width: 710px) {
        width: 60%;
        max-height: 6.5rem;
      }
    }
  
    &__title {
      display: block;
      margin-top: 1.2rem;
  
      font-size: 1.4rem;
      line-height: 1.1;
      text-align: center;
    }
  
    &__slider-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
  
      width: 24.3rem;
      height: 12rem;
  
      border-radius: 6rem;
      background-image: linear-gradient(212.35deg, #F0F1F5 7.66%, #FFFFFF 75.91%, #FFFFFF 80%, #F0F1F5 100%);
      background-size: 250%;
      background-position: 43rem;
  
      transition: background-position .3s;
  
      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
  
        width: 0.9rem;
        height: 1.4rem;
      }
  
      &:hover {
        background-position: 60rem;
      }
  
      &--next {
        right: -18.7rem;
  
        svg {
          left: 3.2rem;
        }
      }
  
      &--prev {
        left: -18.7rem;
  
        &:hover {
          background-position: 30rem;
        }
  
        svg {
          right: 3.2rem;
          transform: translateY(-50%) rotate(180deg);
        }
      }
      
      @media (max-width: 710px) {
        display: none;
      }
    }
  }