.search {
    height: 100%;
  
    &__form {
      position: relative;
  
      display: flex;
      flex-grow: 1;
      height: 100%;
    }
  
    &__icon {
      position: absolute;
      z-index: 1;
      left: 2rem;
      top: 50%;
      transform: translateY(-50%);
  
      width: 1.6rem;
      height: 1.6rem;
  
      @media (max-width: 1170px) {
        left: 1.2rem;
      }
    }
  
    &__input {
      position: relative;
  
      width: 100%;
      padding: 1.6rem 6.4rem;
  
      border-radius: 12px;
      background: #F4F5F8;
  
      @media (max-width: 1170px) {
        padding: 1rem 4rem;
      }
    }
  }