<section class="academy">
    <div class="wide-container">
        <div class="academy__inner">
            <div class="academy__header">
                <h2 class="academy__title section-title">Академия экспертов</h2>
                <div class="academy__description">
                    <p>
                        Высокая квалификация позволяет реализовывать комплексные аудиовизуальные проекты «под ключ»
                        и разрабатывать, как типовые проекты помещений, так уникальные проекты
                    </p>
                </div>
            </div>
            {{> training }}
            {{> articles }}
            <div class="academy__request">
                <svg class="academy__request-icon">
                    <use xlink:href="#request-bg"></use>
                </svg>
                <div class="academy__request-text">
                    <p>
                        Многолетний опыт, которым мы готовы делиться,
                        что бы ваши проекты становились еще лучше
                    </p>
                </div>
                <button class="academy__request-button button">Оставить заявку на обучение</button>
            </div>
        </div>
    </div>
</section>