<div class="accordion-item js-accordion" data-close-other>
  <div class="accordion-item__btn js-accordion-btn" title="Open">
    <span class="accordion-item__btn-label">Lorem, ipsum dolor.</span>
    <svg class="accordion-item__btn-icon">
      <use xlink:href="#accordion-arrow">
    </svg>
  </div>
  <div class="accordion-item__content-container js-accordion-content" style="height: 0;">
    <div class="accordion-item__content">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae laudantium at commodi amet, omnis id neque sunt voluptate accusantium! Quis ab autem sunt vel quos. Ducimus consectetur libero vitae, nobis magni tempore labore qui excepturi illum quaerat facilis soluta ex rerum iure deleniti id quae! Ratione, dolorum. Quos nesciunt ea blanditiis officia impedit sit in incidunt voluptate, voluptas eius nobis praesentium tenetur accusamus ex culpa ipsam! Sunt, libero odio dignissimos expedita itaque dicta in placeat? At, praesentium est explicabo perspiciatis itaque iusto exercitationem! Hic incidunt dicta ipsa adipisci tempora nostrum? Saepe officiis sed fuga repellendus labore nobis veniam ex perferendis?
    </div>
  </div>
</div>