<section class="application">
    <div class="container">
        <h2 class="application__title section-title">Сферы применения</h2>
    </div>
    <div class="wide-container">
        <div class="application__slider swiper-slider js-init-slider">
            <div class="application__slider-wrapper swiper-wrapper">
                <div class="application__inner swiper-slide">
                    <div class="application__text-column">
                        <div class="application__text-header">
                            <time class="application__text-date">2020</time>
                            <span>Выставки</span>
                        </div>
                        <div class="application__text-content">
                            <h3 class="application__text-title">Оснащение проекционным оборудованием музейного комплекса «Дорога Памяти»</h3>
                            <p>
                                Высокая квалификация позволяет реализовывать
                                комплексные аудиовизуальные проекты «под ключ»
                            </p>
                        </div>
                        <button class="application__play-button">
                            <svg>
                                <use xlink:href="#slider-arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="application__img-column">
                        <img src="img/application-1.jpg" alt="Фото одной из сфер применений">
                    </div>
                </div>
                <div class="application__inner swiper-slide">
                    <div class="application__text-column">
                        <div class="application__text-header">
                            <time class="application__text-date">2020</time>
                            <span>Выставки</span>
                        </div>
                        <div class="application__text-content">
                            <h3 class="application__text-title">Оснащение проекционным оборудованием музейного комплекса «Дорога Памяти»</h3>
                            <p>
                                Высокая квалификация позволяет реализовывать
                                комплексные аудиовизуальные проекты «под ключ»
                            </p>
                        </div>
                        <button class="application__play-button">
                            <svg>
                                <use xlink:href="#slider-arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="application__img-column">
                        <img src="img/application-1.jpg" alt="Фото одной из сфер применений">
                    </div>
                </div>

            </div>
            <div class="application__slider-navigation slider-navigation slider-navigation--dark js-slider-navigation">
                <button class="slider-button slider-button--prev js-prev-slide" title="Листнуть влево">
                    <svg>
                        <use xlink:href="#slider-arrow"/>
                    </svg>
                </button>
                <button class="slider-button slider-button--next js-next-slide" title="Листнуть вправо">
                    <svg>
                        <use xlink:href="#slider-arrow"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>