<div class="language">
    <div class="language__header">
        <span class="language__current">RU</span>
        <svg class="language__icon">
            <use xlink:href="#select-arrow"/>
        </svg>
    </div>
    <div class="language__select">
        <a class="language__item" href="#">RU</a>
        <a class="language__item" href="#">TAT</a>
        <a class="language__item" href="#">ENG</a>
    </div>
</div>