<section class="products">
    <div class="container">
        <div class="products__inner swiper-container js-init-slider" data-breakpoints="1380:4,1000:3,340:2,100:1"
             data-slides="4" data-space="4" data-loop="true">
            <h2 class="products__title section-title">Продукты и услуги</h2>
            <ul class="products__list swiper-wrapper">
                <li class="swiper-slide">
                    <a class="products__item products__item--light-purple" href="#">
                        <h3 class="products__item-title">Каталог оборудования</h3>
                        <span href="#" class="products__item-link">
                            Подробнее
                            <svg>
                                <use xlink:href="#slider-arrow"/>
                            </svg>
                        </span>
                        <svg class="products__decor">
                            <use xlink:href="#product-1"/>
                        </svg>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a class="products__item products__item--purple" href="#">
                        <h3 class="products__item-title">Финансовые услуги</h3>
                        <span href="#" class="products__item-link">
                            Подробнее
                            <svg>
                                <use xlink:href="#slider-arrow"/>
                            </svg>
                        </span>
                        <svg class="products__decor">
                            <use xlink:href="#product-2"/>
                        </svg>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a class="products__item products__item--light-green" href="#">
                        <h3 class="products__item-title">Инженерные услуги</h3>
                        <span href="#" class="products__item-link">
                            Подробнее
                            <svg>
                                <use xlink:href="#slider-arrow"/>
                            </svg>
                        </span>
                        <svg class="products__decor">
                            <use xlink:href="#product-3"/>
                        </svg>
                    </a>
                </li>
                <li class="swiper-slide">
                    <a class="products__item products__item--green" href="#">
                        <h3 class="products__item-title">Логистические услуги</h3>
                        <span href="#" class="products__item-link">
                            Подробнее
                            <svg>
                                <use xlink:href="#slider-arrow"/>
                            </svg>
                        </span>
                        <svg class="products__decor">
                            <use xlink:href="#product-4"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>