<section class="promotion">
    <div class="wide-container">
        <div class="promotion__slider swiper-container js-init-slider" data-loop="true">
            <div class="promotion__slider-wrapper swiper-wrapper">
                <div class="promotion__slide swiper-slide">
                    <div class="promotion__inner">
                        <div class="promotion__text-column">
                            <p class="promotion__caption">Акция</p>
                            <div class="promotion__content">
                                <h2 class="promotion__title section-title">Интерактивный комплект для образования</h2>
                                <p>Дополнительная скидка 10% в первый проектa</p>
                            </div>
                            <a class="promotion__button button" href="#">Подробнее</a>
                        </div>
                        <div class="promotion__img-column">
                            <div class="promotion__img-wrapper">
                                <div class="promotion__img-block">
                                    <img class="promotion__img" src="img/promotion-3.png"
                                         alt="Комплект для образования">
                                </div>
                                <div class="promotion__img-block">
                                    <img class="promotion__img" src="img/promotion-1.png"
                                         alt="Комплект для образования">
                                </div>
                                <div class="promotion__img-block">
                                    <img class="promotion__img" src="img/promotion-2.png"
                                         alt="Комплект для образования">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promotion__slide swiper-slide">
                    <div class="promotion__inner">
                        <div class="promotion__text-column">
                            <p class="promotion__caption">Акция</p>
                            <div class="promotion__content">
                                <h2 class="promotion__title section-title">Интерактивный комплект для образования</h2>
                                <p>Дополнительная скидка 10% в первый проектa</p>
                            </div>
                            <a class="promotion__button button" href="#">Подробнее</a>
                        </div>
                        <div class="promotion__img-column">
                            <div class="promotion__img-wrapper">
                                <div class="promotion__img-block">
                                    <img class="promotion__img" src="img/promotion-3.png"
                                         alt="Комплект для образования">
                                </div>
                                <div class="promotion__img-block">
                                    <img class="promotion__img" src="img/promotion-1.png"
                                         alt="Комплект для образования">
                                </div>
                                <div class="promotion__img-block">
                                    <img class="promotion__img" src="img/promotion-2.png"
                                         alt="Комплект для образования">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promotion__slide swiper-slide">
                    <div class="promotion__inner">
                        <div class="promotion__text-column">
                            <p class="promotion__caption">Акция</p>
                            <div class="promotion__content">
                                <h2 class="promotion__title section-title">Интерактивный комплект для образования</h2>
                                <p>Дополнительная скидка 10% в первый проектa</p>
                            </div>
                            <a class="promotion__button button" href="#">Подробнее</a>
                        </div>
                        <div class="promotion__img-column">
                            <div class="promotion__img-wrapper">
                                <div class="promotion__img-block">
                                    <img class="promotion__img" src="img/promotion-3.png"
                                         alt="Комплект для образования">
                                </div>
                                <div class="promotion__img-block">
                                    <img class="promotion__img" src="img/promotion-1.png"
                                         alt="Комплект для образования">
                                </div>
                                <div class="promotion__img-block">
                                    <img class="promotion__img" src="img/promotion-2.png"
                                         alt="Комплект для образования">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion__slider-control">
                <div class="promotion__slider-pagination swiper-pagination"></div>
                <div class="promotion__slider-button-wrapper slider-navigation js-slider-navigation">
                    <button class="slider-button slider-button--prev js-prev-slide" title="Листнуть влево">
                        <svg>
                            <use xlink:href="#slider-arrow"/>
                        </svg>
                    </button>
                    <button class="slider-button slider-button--next js-next-slide" title="Листнуть вправо">
                        <svg>
                            <use xlink:href="#slider-arrow"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>