<div class="recording">
    <svg class="recording__decor">
        <use xlink:href="#recording"></use>
    </svg>
    <p class="recording__text">
        Все онлайн мероприятия хранятся в записи, смотрите когда вам удобно
    </p>
    <a class="recording__button button" href="#">Прошедшие мероприятия</a>
</div>