<div class="search">
    <form class="search__form" name="searchForm">
        <svg class="search__icon">
            <use xlink:href="#search"/>
        </svg>
        <input class="search__input" name="searchInput" type="text" placeholder="Поиск">
    </form>
</div>