<section class="stats">
    <div class="container">
        <div class="stats__inner">
            <div class="stats__left-column">
                <span class="stats__number">150 000 +</span>
                <div class="stats__number-caption">
                    <p>
                        наименований в каталоге от более <br>
                        чем 50 мировых производителей
                    </p>
                </div>
            </div>
            <div class="stats__right-column">
                <h3 class="stats__title">
                    Дистрибьютор профессионального,
                    интерактивного, телекоммуникационного
                    оборудования и аудиовизуальных решений
                    для бизнеса
                </h3>
                <p>
                    Современные PRO AV и телекоммуникационные решения, разработанные специалистами нашей проектной команды, проверены опытом
                    и ориентированы под конкретные задачи и отрасль
                </p>
            </div>
        </div>
    </div>
</section>